.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa a altura total da tela */
  background-color: #f7fafc; /* Cor de fundo suave */
}

.card-wrapper {
  display: flex;
  gap: 20px; /* Espaçamento entre os cards */
}

.form-card, .user-list-card {
  width: 400px; /* Largura dos cards */
  padding: 20px; /* Padding interno */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra dos cards */
}

.card-title {
  font-size: 24px; /* Tamanho do título do card */
  margin-bottom: 16px; /* Margem abaixo do título */
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Margem acima do botão */
}
